@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --background-color: #F5F9FF;
    --background-color-board: #FFFFFF;
    --title-color: #11175E;
    --border-color: #EEEEEE;
    --background-btn-color: #2D70FD;
    --btn-text-color: #FFFFFF;
    --font: "Rubik", sans-serif;
    --font-alt: 'Inter', sans-serif;
    --border-btn: solid 1px var(--background-btn-color);
    --color-btn-tag: #B1BACB;
    --tag-title-color: #001747;
    --color-text-task-done: #8F98A8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    background-color: var(--background-color-board);
    padding: 24px 32px;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.25);
    width: 650px;
    max-width: 90vw;
    margin: 20px 0px;

    & {
        h1 {
            font-family: var(--font);
            color: var(--title-color);
            margin-bottom: 1.5rem;
        }
    }

    & {
        form {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;

            & {
                input {
                    width: 254.5px;
                    max-width: 90vw;
                    height: 50px;
                    border: solid 1px var(--border-color);
                    border-radius: 8px;
                    padding: 16px 24px;
                    font-family: var(--font);
                }

                input::placeholder {
                    color: #B1BACB;
                }
            }

            & {
                button {
                    width: 45px;
                    height: 45px;
                    background-color: var(--background-btn-color);
                    border: var(--border-btn);
                    color: var(--btn-text-color);
                    font-family: var(--font-alt);
                    border-radius: 4px;
                }
            }
        }
    }

    & {
        ul {

            & {
                li {
                    display: flex;
                    justify-content: space-between;
                    border: solid 1px var(--border-color);
                    padding: 24px 32px;
                    border-radius: 16px;
                    margin: 8px 0px;

                    & {
                        p.title-task {
                            font-family: var(--font-alt);
                            font-weight: 500;
                            font-size: 1rem;
                            color: var(--tag-title-color);
                            margin-bottom: 10px;
                        }

                        p.title-task.checked {
                            text-decoration: line-through;
                            color: var(--color-text-task-done);
                        }
                    }

                    & {
                        .tag {
                            padding: 4px 8px;
                            border: solid 1px var(--color-btn-tag);
                            border-radius: 16px;
                            font-family: var(--font-alt);
                            font-size: .7rem;
                            color: var(--color-btn-tag);
                            margin-right: 10px;
                            max-width: fit-content;
                        }
                    }

                    & {
                        .data {
                            font-family: var(--font-alt);
                            font-size: .8rem;
                            color: var(--color-btn-tag);
                        }
                    }

                    & {
                        button.btn-done {
                            padding: 12px 24px;
                            background-color: var(--background-btn-color);
                            color: var(--btn-text-color);
                            border: var(--border-btn);
                            border-radius: 4px;
                            max-width: fit-content;
                        }

                        button.btn-done:hover {
                            cursor: pointer;
                            opacity: .8;
                        }

                        button.btn-done.finished {
                            padding: 0;
                            background-color: transparent;
                            border: none;
                        }
                    }
                }
            }
        }
    }

    & {
        hr {
            border: solid 1px rgba(238, 238, 238, 1);
            margin: 15px 0;
        }

    }

    & {
        p#progress {
            font-family: var(--font-alt);
            font-weight: 400;
            color: rgba(177, 186, 203, 1);
            font-size: 1rem;
            text-align: end;
            margin-bottom: 20px;
        }
    }

    & {
        button.btn-delete {
            padding: 12px 24px;
            background-color: var(--background-btn-color);
            color: var(--btn-text-color);
            border: var(--border-btn);
            border-radius: 4px;
        }
        button.btn-delete:hover {
            cursor: pointer;
            opacity: .8;
        }
    }

}

@media (max-width: 700px) {

    form {
        display: flex;
        flex-direction: column;

        & {
            input {
                margin-bottom: 10px;
            }
        }

        & {

            input,
            button {
                width: 100% !important;
            }
        }
    }

    ul>li {
        flex-direction: column;

        & {
            button.btn-done {
                margin: 0 auto;
            }
        }
    }

    p.data {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;

        & {
            span {
                margin-bottom: 7px;
            }
        }

    }
}